@{
    Layout = "_Layout";
}

@model GroupTracker.Models.Campaign

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Title)</h2>

@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="btn btn-primary" />
}
<br>
<br>
<h2>@Html.ActionLink("Back to Details", "Details", new {id = Model.CampaignId})</h2>